main{
  margin-top: 50px;
  padding-top: 50px;
}

.encabezado{
  padding: 20px;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

 .modal-eliminar2 {
   height: 220px !important;
 }

